.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
}

.visible {
  display: block;
}

.content {
  background-color: #0c162d;
  border-radius: 0.5rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border: 1px solid #202637;
  width: fit-content;
  max-width: 600px;
  position: absolute;
}

.inputGroup {
  display: flex;
  flex-direction: row;
  align-items: center;

  input {
    width: 120px;
  }

  select {
    width: 130px;
  }
}

.inputLabel {
  width: 120px;
}

.form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

label {
  font-size: 1rem;
  font-weight: bold;
}

input,
select {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

button {
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.closeButton {
  width: 100%;
}
